## Deliverable 3. Create a Travel Itinerary Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
import gmaps.datasets

# Import API key
from config import google_api_key

# Configure gmaps
gmaps.configure(api_key=google_api_key)

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,2,Bengkulu,ID,82.65,overcast clouds,-3.80,102.27,Grage Hotel Bengkulu
1,6,Hilo,US,82.40,overcast clouds,19.73,-155.09,Hilo Hawaiian Hotel
2,7,Portland,US,86.00,broken clouds,45.52,-122.68,Portland Marriott City Center
3,13,Georgetown,MY,82.40,haze,5.41,100.34,Cititel Penang
4,16,Kapaa,US,84.20,clear sky,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather (Max Temp)</dt><dd>{Description} ({Max Temp} Â°F)</dd>
</dl>
"""
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# 4a. Add a marker layer for each city to the map.

max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df['City'] == 'Kushima')]
vacation_stop1 = vacation_df.loc[(vacation_df['City'] == 'Izumo')]
vacation_stop2 = vacation_df.loc[(vacation_df['City'] == 'Shimoda')] 
vacation_stop3 = vacation_df.loc[(vacation_df['City'] == 'Shingu')] 
vacation_start

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
52,200,Kushima,JP,87.8,scattered clouds,31.46,131.23,Hanaoka

In [38]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(vacation_start[['Lat','Lng']].to_numpy()[0])
stop1 = tuple(vacation_stop1[['Lat','Lng']].to_numpy()[0])
stop2 = tuple(vacation_stop2[['Lat','Lng']].to_numpy()[0])
stop3 = tuple(vacation_stop3[['Lat','Lng']].to_numpy()[0])

In [39]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
direction_map = gmaps.directions_layer(
        start, start, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(direction_map)
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,200,Kushima,JP,87.80,scattered clouds,31.46,131.23,Hanaoka
1,99,Izumo,JP,89.60,scattered clouds,35.37,132.77,Toyoko-Inn Izumoshi ekimae
2,240,Shimoda,JP,87.01,few clouds,34.67,138.95,Shimoda Tokyu Hotel
3,180,Shingu,JP,89.60,broken clouds,33.73,135.98,Shingu UI Hotel

In [41]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather (Max Temp)</dt><dd>{Description} ({Max Temp} Â°F)</dd>
</dl>
"""
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [33]:
# 11a. Add a marker layer for each city to the map.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))